
<div class="col-md-4">
{% include '@lmmi_journal/landing-page/lp-tile.html.twig' %}
</div>

<div class="col-md-4">
{% include '@lmmi_journal/landing-page/lp-tile.html.twig' %}
</div>
<div class="col-md-4">
{% include '@lmmi_journal/landing-page/lp-tile.html.twig' %}
</div>
<div class="col-md-4">
{% include '@lmmi_journal/landing-page/lp-tile.html.twig' %}
</div>

<div class="col-md-4">
{% include '@lmmi_journal/landing-page/lp-tile.html.twig' %}
</div>
<div class="col-md-4">
{% include '@lmmi_journal/landing-page/lp-tile.html.twig' %}
</div>
