<header class="paragraph-responsive-typography-enabled article-header">
  <h1 class="article--title">Example of an Fairly Long Article Title, One that is Likely Multi-line </h1>
  <section class="article-header--metadata">
    <div class="left">
      <div class="article--contributor">
        Robert N. Drew
      </div>
      <div class="article--contributor__affiliation">University of Prince Edward Island</div>
    </div>
    <div class="right">
      <div class="article--type">Article</div>
      <div class="article--date-published">
     Published September 20, 2018 
      </div>
    </div>
  </section>

</header>

