//@format
//embedded images
.field--name-field-media-video-embed-field iframe {
    max-width: 100%;
}
.align-right {
    margin: 1em 0 1em 1em;
}
.align-left {
    margin: 1em 16px 1em 0;
}
figure.align-left {
    margin: 1em 16px 1em 0;
}
.align-center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.node__main-content {
    .field__label {
        font-size: 16px;
        text-transform: none;
        font-weight: bold;
    }
    .field__item {
        font-size: 16px;
    }
}
//footnotes
.footnote-list .container.item-list {
    width: inherit;
}
.page-node-type-journal-article .main-content__section {
    padding-top: 0;
}
//hero bg-image
.article-title-banner {
    //display:none;
    //border: 1px solid #ccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
//hero text
.article-info--wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.field--name-field-journal-article-abstract .field__label {
    font-size: 2rem;
}
.node--type-journal-article {
    .field--name-body figure {
        margin-left: initial;
        margin-right: initial;

        &.align-right {
            margin: 1em 0 1em 1em;
        }
        &.align-left {
            margin: 1em 1em 1em 0;
        }
        .align-center img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        img {
            border: 1px solid #ccc;
            padding: 4px;
            //width: 200px;
            margin-right: 1rem;
            margin-top: 1rem;
        }
    }
    //footnotes
    .see-footnote {
        //a[id^='footnote'] {
        border: 1px solid #5d5d5d;
        background: #5d5d5d;
        color: #fff;
        border-radius: 4px;
        text-decoration: none;
        padding: 2px 3px;
        font-size: 1.1rem;
        vertical-align: super;
    }
}
.footnotes {
    .footnote-multi {
        float: none;
        vertical-align: none;
        position: initial;
        top: initial;
        font-size: initial;
    }
}

header.article-header {
    //background: #e6e6e6;
    //background: url(../img/DS2_2622.jpg);
    //padding: 1rem;
}
.article-header--metadata {
    display: flex;
    justify-content: space-between;
    .left,
    .right {
        flex-direction: column;
        align-items: flex-end;
    }
    .right {
        justify-content: flex-end;
        text-align: right;
    }
}

.article-title-banner {
    .field--name-title {
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }
}
//.article-info--wrapper {
//position: absolute;
//top: 0;
//margin: 8rem;
//}
.article-info--wrapper {
}
.article-title {
    color: #fff;
}
.article-header--metadata {
    a {
        color: #fff;
    }
    .article--contributor {
        font-size: 27px;
        //line-height:36px;
        font-family: 'Libre Baskerville', Georgia, Times New Roman, Serif;
        font-weight: bold;
        font-style: italic;
    }
    .field--name-field-affiliation-string,
    .article--contributor__affiliation {
        font-size: 18px;
        text-transform: uppercase;
        //line-height:18px;
        font-weight: normal;
        font-style: normal;
        font-family: sans-serif;
    }
    .article--type {
        font-size: 18px;
        //line-height:18px;
        text-transform: uppercase;
        a {
            color: #fff;
        }
    }
    .article--date-published {
        font-size: 18px;
        text-transform: uppercase;
        //line-height:18px;
        margin-top: 6px;

        .field__label {
            display: none;
        }
    }
}

//layout

.article-title-banner {
    padding: 0;
}
.node__main-content {
    grid-area: main;
}
.toc-sticky-wrapper {
    height: 100%;
    grid-area: toc;
}

.node__container {
    @include breakpoint($desktop-up) {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto;
        grid-template-areas: 'main toc';
    }
}
//notes
.footnote-list {
    .footnotes {
        font-size: 18px;
        a {
            font-weight: bold;
        }
    }
    .item-list ul li span {
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        padding-left: 5px;
    }
}

//info
.field--entity-reference-target-type-taxonomy-term {
    .field__label {
        border-bottom: 0px;
        margin: 0px;
        padding: 0px;
        &:after {
            content: ':';
            margin-right: 16px;
        }
        float: left;
    }
}
.field--name-field-cc-license {
    h3 {
        font-size: 16px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        &:after {
            content: ':';
            margin-right: 16px;
        }
        float: left;
    }
    p {
        display: inline;
    }
}
.field--name-field-article-subjects {
    border-bottom: 0px;
}
.field--entity-reference-target-type-taxonomy-term,
.field--entity-reference-target-type-taxonomy-term.field__item {
    margin: 0 0;
}
//this is just here to underline the article info heading, may cause problems eslewhere
h3.field-group-format-toggler.accordion-item {
    a {
        color: #2e2e2e;
        border-bottom: 1px solid #2e2e2e;
        display: block;
    }
}
.back-to-top {
    display: none;
}
.footnote-list > div {
    padding: 0;
    //margin: 0;
}
