.page-node-type-journal-article .main-content__section {
    padding-top: 0;
}
.article-title-banner {
    //display:none;
    //border: 1px solid #ccc;
    .bg-image {

    height: 400px;
    overflow:hidden;
    }
}
.field--name-field-journal-article-abstract .field__label {
    font-size: 2rem;
}
.node--type-journal-article {
    .field--name-body figure {
        margin-left: initial;
        margin-right: initial;
        float: left;
        img {
            border: 1px solid #ccc;
            padding: 4px;
            width: 200px;
            float: left;
            margin-right: 1rem;
            margin-top: 1rem;
        }
    }
    //footnotes
    a[id^="footnote"] {
        border: 1px solid #5d5d5d;
        background: #5d5d5d;
        color: #fff;
        border-radius: 4px;
        text-decoration: none;
        padding: 2px 3px;
        font-size:1.1rem;
        vertical-align:super;
    }
}

header.article-header {
    //background: #e6e6e6;
    //background: url(../img/DS2_2622.jpg);
    //padding: 1rem;
}
.article-header--metadata {
    display:flex;
    justify-content:space-between;
    .left,.right {
        flex-direction: column;
        align-items:flex-end;
    }
    .right {
        justify-content:flex-end;
        text-align: right;
    }
}
.article-title-banner {
    position:relative;
}
//.article-info--wrapper {
    //position: absolute;
    //top: 0;
    //margin: 8rem;
//}
.article-info--wrapper {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.article {
    &--contributor {
        font-size: 27px;
        //line-height:36px;
        font-family: 'Libre Baskerville', Georgia, Times New Roman, Serif;
        font-weight:bold;
        font-style: italic;
    }
    &--contributor__affiliation {
        font-size: 18px;
        text-transform: uppercase;
        //line-height:18px;
        //font-style: italic;
    }
    &--type {

        font-size: 18px;
        //line-height:18px;
        text-transform: uppercase;
    }
    &--date-published {

        font-size: 18px;
        text-transform: uppercase;
        //line-height:18px;
       margin-top:6px; 
    }
}


//layout

.node__main-content {
    grid-area: main;
}
.toc-sticky-wrapper {
        
    height:100%;
    grid-area: toc;
}

.node__container {
    @include breakpoint($desktop-up) {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-template-areas:
    'main toc'
    }
}
