.block-cite-this-block {
    @extend .container;
        padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;

    //=====================
    .title {
        text-align: left;
        border-bottom: 1px solid #333;
        border-top: none !important;
    }
}
.field--name-field-bibcite-fn-works-cited {
    text-indent: -28px;
    padding-left: 28px;
}
.citeproc-container-title {
    font-style: italic;
}
.citeproc-title {
    font-style: italic;
}
