#views-exposed-form-search-page-1 .form--inline {
        position: relative;
    display: table;
    border-collapse: separate;
}
.view-search .views-row {
    font-size: 2rem;
    border: 1px solid #ccc;
    background-color: #fff !important;
    margin: 2rem;
    padding: 2rem;
}
